.bloque-dashboard{

display:grid;

grid-template-columns:1fr 1fr;

gap:25px;

margin-top:30px;

}



.grafico-principal{

background:white;

padding:20px;

border-radius:12px;

}



.grafico,
.tabla-area{


background:white;

padding:20px;

border-radius:12px;


}



select{


font-size:24px;

padding:15px;

min-width:280px;


}



option{

font-size:22px;

}



.tabla-estadisticas{

width:100%;

border-collapse:collapse;

background:white;

border-radius:10px;

overflow:hidden;

box-shadow:

0 2px 8px rgba(0,0,0,.1);


}



.tabla-estadisticas th,
.tabla-estadisticas td{


padding:12px;

text-align:center;

border-bottom:1px solid #eee;


font-size:18px;


}




.tabla-estadisticas th{


background:#1e3a8a;

color:white;


}



@media(max-width:900px){


.bloque-dashboard{


grid-template-columns:1fr;


}


}



.kpis{


display:grid;


grid-template-columns:

repeat(auto-fit,minmax(220px,1fr));


gap:20px;


margin-bottom:30px;


}




.card{


background:white;


padding:25px;


border-radius:15px;


text-align:center;


box-shadow:

0 4px 12px rgba(0,0,0,.15);



}




.card h3{


font-size:22px;


margin-bottom:15px;


}




.card p{


font-size:40px;


font-weight:bold;


color:#1e3a8a;


margin:0;


}